.DS_Store

# Compiled Class Files
*.class

# Log File
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ
.idea/
*.iml
.settings/
bin/

Dockerfile

# Maven target folder
target/**

